:root {
    --primary: #e6d9ec;
    --dark: #422d42;
    --secondary: #9c9c9c;
    --accent1: #a47cae;
    --accent2: #9981a6;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    font-family: 'Lora', serif;
    color: var(--dark);
}
body {
    background-color: var(--primary);
    line-height: 1.4;
    border: 1px var(--secondary);
    margin: 10px;
}
main {
    margin: 5em auto;
    border: 1px solid white;
    padding: 2rem;
}

/* -----LOGO------  */
.logo img {
    width: 50%;
    margin: 10px auto;
    display: block;
    border-radius: 35%;
    padding: 5px;
}
.logo h2 {
    margin: 10px auto;
    text-align: center;	
}
/* welcome */
.welcome {
    border-bottom: 1px solid black;
    box-shadow: white;
	margin: 10px auto;
	text-align: center;
    font-weight:800;
    font-style:oblique;
}
.weather {
    color: white;
    background:  #00000099;
    border: 1px solid #a9c08e;
    padding: .5rem;
    border-radius: 20px;
    width: 50%;
    box-shadow: 0 0 25px rgb(147, 166, 187), 0 0 5px darkblue;
}
    
 /* menu *    and / 
  /* ------ navBar ------  */
  .navbar a {
    float: none;
    display: block;
  }

/* Books Info */
ul li {
    margin: 10px;
    background: white;
    border: 1px solid black;
    padding: 0.5em;
    list-style: none;
   
}
ul li a#readBtn {
    padding: 0.3em;
    text-decoration: none;
    background: #00000099;
    color: white;
    margin: 0.5em;
    
}
ul li a#saveBtn {
    padding: 0.3em;
    text-decoration: none;
    background: #a47cae;
    color: white;
     margin: 0.5em;
    
}
ul li a#buyBtn {
    padding: 0.3em;
    text-decoration: none;
    background: #00000099;
    color: white;
     margin: 0.5em;
    
}
/* INPUT, BUTTON   */
button {
    color: white;
    background: #746a66;
    border: 1px solid #dce032;
    padding: .5rem;
    border-radius: 20px;
    width: 30%;
    box-shadow: 0 0 25px rgb(147, 166, 187), 0 0 5px darkblue;
}
input{
     color: black;
    border: 1px solid #dce032;
    padding: .5rem;
    border-radius: 50px;
    width: 30%;
    box-shadow: 0 0 25px rgb(147, 166, 187), 0 0 5px darkblue;
    margin: 0.9rem;
}
div#output {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}





  /* ----FOOTER--- */
footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #a47cae;
    color: #000000;
}
footer p{
    font-family: calibri;
}
footer p:nth-child(1){
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}
footer p:nth-child(2){
    font-size: 16px;
    color: va(--dark);
    width: 50%;
    text-align: center;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
    list-style: none;

}
.social-icons{
    display: flex;
}
.copyright {
    color: #565555;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.social-icons i{
    color: #000000;
}
.social-icons a:hover,
.a-social-b a:hover{
    background-color: #000000;
    box-shadow: var(--shadow);
    transition: all ease 0.05s;
}
.social-icons a:hover i,
.a-social-b a:hover i{
    color: #FFFFFF;
    transition: all ease 0.05s;
}

.a-social-b {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.a-social-b a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    line-height: 0px;
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb;
    box-shadow: var(--shadow);

}
.a-social-b i{
    font-size: 20px;
    color: #2b2b2b;
}

